#container {
  width: 100%;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
}
.unableNav{
  display: none !important;
}


@media (min-width: 200px) and (max-width: 499px) {
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #nav-box {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 3.6rem;
    border-radius: 1rem 1rem 0 0;
    /* background-color: #e22222;  */
    /* Ajoutez les autres styles souhaités pour votre menu */
  }
}

@media screen and (min-width: 500px) and (max-width: 1005px) {
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #nav-box {
    width: 80%;
    padding-right: 1rem;
    justify-content: right;
  }
}

@media screen and (min-width: 1005px) and (max-width: 1281px){
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #nav-box {
    /* width: 10%; */
    /* margin-left: 1.2rem; */
    /* justify-content: center; */
  }
}